* {
  margin: 0;
  padding: 0;
  font-family: "Jost", "Courier New", Courier, monospace;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

#nav-placeholder {
  margin-bottom: 50px;
}

#events-table {
  width: calc(100% - 40px); /* Prevent overflow */
  max-width: 1200px; /* Optional for large screens */
  margin: 70px auto; /* Center it */
  border-collapse: collapse;
  background: white;
}

#events-table th,
#events-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#events-table th {
  background-color: #ff4b4b;
  color: white;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Allows horizontal scroll ONLY if table must */
}
